@{
    ViewData["Title"] = "Home Page";
}

<h2>@ViewData["Message"]</h2>

<p>Welcome to the Northwind Database Web Application!</p>

<ul>
    <li><a href="/Categories">Categories</a></li>
    <li><a href="/Products">Products</a></li>
</ul>
